<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Add</title>
</head>
<body>
	<form action="#" th:action="@{/adduser}" th:object="${user}"
		method="post">
		<div class="form-row">
    		<div class="col-md-4 mb-3">
				<label for="name">Name</label> 
				<input type="text" th:field="*{name}"
					id="name" placeholder="Name" class="form-control"> 
				<div class="invalid-feedback"
					th:if="${#fields.hasErrors('name')}" 
					th:errors="*{name}">
				</div> 
		</div>
		</div>
		<div class="form-row">
    		<div class="col-md-4 mb-3">	
			<label
			for="lastName">Last name</label> <input class="form-control" type="text"
			th:field="*{lastName}" id="lastName" placeholder="Apellido">
		<div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
		</div>
		</div>
		<div class="form-row">
    		<div class="col-md-4 mb-3">
		<label for="email">Email</label> <input class="form-control" type="text"
			th:field="*{email}" id="email" placeholder="Email"> <div
			th:if="${#fields.hasErrors('email')}" class="invalid-feedback" th:errors="*{email}"></div> 
		</div>
		</div>
			
			<input class="btn btn-success"
			type="submit" value="Add User">
	</form>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>